<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Photo_upload_download</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddPhotoServlet</display-name>
    <servlet-name>AddPhotoServlet</servlet-name>
    <servlet-class>master.servlet.AddPhotoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPhotoServlet</servlet-name>
    <url-pattern>/AddPhotoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListPhotosServlet</display-name>
    <servlet-name>ListPhotosServlet</servlet-name>
    <servlet-class>master.servlet.ListPhotosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListPhotosServlet</servlet-name>
    <url-pattern>/ListPhotosServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayPhotoServlet</display-name>
    <servlet-name>DisplayPhotoServlet</servlet-name>
    <servlet-class>master.servlet.DisplayPhotoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayPhotoServlet</servlet-name>
    <url-pattern>/DisplayPhotoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayPhotoServlet1</display-name>
    <servlet-name>DisplayPhotoServlet1</servlet-name>
    <servlet-class>master.servlet.DisplayPhotoServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayPhotoServlet1</servlet-name>
    <url-pattern>/DisplayPhotoServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayPhotoServlet2</display-name>
    <servlet-name>DisplayPhotoServlet2</servlet-name>
    <servlet-class>master.servlet.DisplayPhotoServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayPhotoServlet2</servlet-name>
    <url-pattern>/DisplayPhotoServlet2</url-pattern>
  </servlet-mapping>
</web-app>